.header-container {
  background-color: #ca0000;
  color: #fff;
  text-align: center;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header-container__title {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0;
  padding-top: 15px; 

}

.logout-button {
  background-color: transparent !important;
  border: none;
  color: #222;
  font-weight: 600;
  font-size: 1.2em;
}

.header-container__links {
  color: #222;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 15px;
  transition: border_bottom, 200ms;
}

.header-container__links:hover {
  border-bottom: 2px solid #222;
  padding-bottom: 6px;
}

.login-container__title, .game-form-container__title, .signup-container__title {
  font-size: 2.3em;
}

.signup-container, .login-container, .game-form-container {
  padding: 10% 25%;
}

.leaderbord-section__card, .game-container__card {
  background-color: #ececec;
  padding: 12px;
  color: #d91e18;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}

.leaderbord-section__icon {
  font-size: 48px;
  color: #222;
}

.game-container__card {
  width: 50%;
  margin-left: 25%;
  
}

.game-container__title {
  text-align: center;
  font-size: 2em;
}

.game-container__links {
  color: #ececec;
  background-color: #d91e18;
  width: 150px;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}


@media only screen and (max-width: 426px) {

  .header-container__title {
    font-size: 1.7em;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .header-container__links {
    font-size: 1em;
    font-weight: 600;
    margin-right: 9px;
  }

  .header-container {
    height: 120px;
  }
  

}